@import "~assets/stylesheets/vars";

.input-wrapper
  position: relative

.optionalLabel
  display: block
  cursor: pointer
  background: $secondary
  width: 22px
  height: 22px
  position: absolute
  top: 7px
  right: 7px
  border-radius: 50%
  outline: 0
  border: 0

  span
    display: block
    width: 22px
    height: 22px
    background: url(/images/tick.svg)

.optionalLabelActive
  composes: optionalLabel
  background: $call-out-aly

.inputContainer
  width: 48%
  display: inline-block
  margin-bottom: 20px

  &:nth-child(2n)
    margin-right: 1.5%

  &:nth-child(2n+1)
    margin-left: 1.5%

  label
    display: block
    margin-bottom: 5px

  input 
    background: $primary
    width: 100%
    border: 0
    border-radius: 3px
    padding: 10px
    font-family: $font-family
    font-weight: $font-weight
    letter-spacing: $font-letter-spacing
    font-size: 14px
    color: transparentize($call-out, 0.4)
    transition: all .5s

    &:focus
      outline: none !important
      background-color: darken($primary, 2%)

.inputContainerDisabled
  composes: inputContainer

  input 
    opacity: .4
    pointer-events: none
    cursor: disabled
    tab-index: -1