@import "~assets/stylesheets/vars";

.input-wrapper
  position: relative

.defaultValueButton
  display: block
  cursor: pointer
  background: $call-out
  width: 20px
  height: 20px
  position: absolute
  top: 8px
  right: 8px
  border-radius: 50%
  outline: 0
  border: 0
  padding: 4px

  span
    display: block
    width: 12px
    height: 12px
    background: url(/assets/images/jampp.svg) no-repeat center
    background-size: contain

.defaultValueButtonActive
  composes: defaultValueButton
  background: $secondary

.inputContainer
  width: 48%
  display: inline-block
  margin-bottom: 20px

  &:nth-child(2n)
    margin-right: 1.5%

  &:nth-child(2n+1)
    margin-left: 1.5%

  label
    display: block
    margin-bottom: 5px

  input 
    background: $primary
    width: 100%
    border: 0
    border-radius: 3px
    padding: 10px
    font-family: $font-family
    font-weight: $font-weight
    letter-spacing: $font-letter-spacing
    font-size: 14px
    color: transparentize($call-out, 0.4)
    transition: all .5s

    &:focus
      outline: none !important
      background-color: darken($primary, 2%)

.inputContainerDisabled
  composes: inputContainer

  input 
    opacity: .4
    pointer-events: none
    cursor: disabled
    tab-index: -1